<div>
  <span>
    <div class="col-sm-12 col-xs-12 	col-md-12 	col-lg-12 boxed">
      <button type="button" (click)="myFunc()" class="btn btn-primary">Add Employee</button>

      <i class="fa fa-times" aria-hidden="true" (click)="goBack()" style="padding-left:92%;cursor:pointer"></i>
      <table class="table table-bodered">
        <thead>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>City</th>
        </thead>

        <tr *ngFor="let user of DataTable">
          <td *ngIf="user.id == EditRowID">
            <input type="text">
          </td>
          <td *ngIf="user.id !== EditRowID" (click)="Edit(user.id)">{{user.Name}}</td>
          <td *ngIf="user.id == EditRowID">
            <input type="text">
          </td>
          <td *ngIf="user.id !== EditRowID" (click)="Edit(user.id)">{{user.Mobile}}</td>
          <td *ngIf="user.id == EditRowID">
            <input type="text">
          </td>
          <td *ngIf="user.id !== EditRowID" (click)="Edit(user.id)">{{user.Email_ID}}</td>
          <td *ngIf="user.id == EditRowID">
            <input type="text">
          </td>
          <td *ngIf="user.id !== EditRowID" (click)="Edit(user.id)">{{user.City}}</td>
        </tr>
      </table>
    </div>

  </span>
  <span>
    <div class="setSimulate">
      <!-- <router-outlet></router-outlet> -->
    </div>
  </span>

</div>











<!-- 
<div class="row">
<div class="row">
  <div class="col-sm-12 col-xs-12 	col-md-12 	col-lg-12">
    <button type="button" (click)="myFunc()" class="btn btn-primary">Add Employee</button>
    <i class="fa fa-times" aria-hidden="true" (click)="goBack()" style="padding-left:92%;cursor:pointer"></i>
    <table class="table table-bodered">
      <thead>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>City</th>
      </thead>

      <tr *ngFor="let user of DataTable">
        <td *ngIf="user.id == EditRowID">
          <input type="text">
        </td>
        <td *ngIf="user.id !== EditRowID" (click)="Edit(user.id)">{{user.Name}}</td>
        <td *ngIf="user.id == EditRowID">
          <input type="text">
        </td>
        <td *ngIf="user.id !== EditRowID" (click)="Edit(user.id)">{{user.Mobile}}</td>
        <td *ngIf="user.id == EditRowID">
          <input type="text">
        </td>
        <td *ngIf="user.id !== EditRowID" (click)="Edit(user.id)">{{user.Email_ID}}</td>
        <td *ngIf="user.id == EditRowID">
          <input type="text">
        </td>
        <td *ngIf="user.id !== EditRowID" (click)="Edit(user.id)">{{user.City}}</td>
      </tr>
    </table>
  </div>


</div>

<div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div> -->