<div>
  <div>
    <div class="col-sm-2 col-xs-2 	col-md-2 	col-lg-2">
      <div class="vertical-menu">
        <a    class=""><i class="fa fa-desktop icon" aria-hidden="true"></i>          
          Home</a>
        <a (click)="goSearch()"><i class="fa fa-bolt icon" aria-hidden="true"></i>Backups</a>
        <a   ><i class="fa fa-globe icon" aria-hidden="true"></i>
          Overview</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>
          Activity log</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Access Contro(IAM)</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Tags</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Diagnose and problems</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Quickstart</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment credentials</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment slots</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment option</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Tags</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Diagnose and problems</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Quickstart</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment credentials</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment slots</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment option</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Tags</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Diagnose and problems</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Quickstart</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment credentials</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment slots</a>
        <a   ><i class="fa fa-picture-o icon" aria-hidden="true"></i>Deployment option</a>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="setSimulate">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>